
<div id="OknoLog">
    <div class="login-container">
        <h2>Zaloguj się na swoje konto</h2>
        <form>
            <label for="login">Login</label>
            <input type="text" id="login" name="login">

            <label for="password">Hasło</label>
            <input type="password" id="password" name="password">

            <p class="register-link">
                Nie jesteś zweryfikowany? <a routerLink="/rejestracja-component" routerLinkActive="active" ariaCurrentWhenActive="page">Zarejestruj się</a>
            </p>

            <button type="submit">Zaloguj się</button>
        </form>
    </div>
</div>

