<div id="wid">
    <div class="volunteer-account">
        <div class="personal-info">
            <h2>Twoje konto wolontariusza</h2>
            <div class="info-container">
                <div class="details">
                    <p><strong>Dane osobowe:</strong></p>
                    <p>Imię:</p>
                    <p>Nazwisko:</p>
                    <p>Płeć:</p>
                    <p>Telefon:</p>
                    <p>Email:</p>
                    <p>Adres:</p>
                </div>
                <div class="profile-picture">
                    <img src="path/to/profile-image.png" alt="Profile Picture">
                </div>
            </div>
            <div class="settings">
                <p><strong>Ustawienia:</strong></p>
                <div class="setting-option">
                    <p>Wysyłanie powiadomień na email</p>
                    <div class="toggle on"></div>
                </div>
                <div class="setting-option">
                    <p>Kalendarz połączony z Google</p>
                    <div class="toggle off"></div>
                </div>
            </div>
        </div>

        <div class="actions" >
            <h2>Twoje Akcje</h2>
        <app-wolontariusz-akcje/>
        </div>
    </div>
</div>