<div id="Rej">
    <div class="register-container">
        <h1 style="text-align: center;">Podaj dane do rejestracji</h1>
        <form>
            <div class="input-group">
                <div>
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login">
                </div>
                <div>
                    <label for="password">Hasło</label>
                    <input type="password" id="password" name="password">
                </div>
            </div>

            <div class="input-group">
                <div>
                    <label for="firstName">Imię</label>
                    <input type="text" id="firstName" name="firstName">
                </div>
                <div>
                    <label for="lastName">Nazwisko</label>
                    <input type="text" id="lastName" name="lastName">
                </div>
            </div>

            <div class="input-group">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="phone">Telefon</label>
                    <input type="tel" id="phone" name="phone">
                </div>
            </div>

            <label for="address">Adres</label>
            <input type="text" id="address" name="address">

            <div class="input-group">
                <label>Płeć</label>
                <div class="gender-options">
                    <label><input type="radio" name="gender" value="M"> M</label>
                    <label><input type="radio" name="gender" value="F"> F</label>
                </div>
            </div>

            <button type="submit">Zarejestruj się</button>
            
            <p class="notice">
                Uwaga! Prośba rejestracji jest wysyłana do administratora który musi potwierdzić zlecenie rejestracji
            </p>
        </form>
    </div>
</div>
