<div class="card">
    <img src="https://sklep.lambda.pl/userdata/public/gfx/b5ba5b93de162471a3a920ca9f91bb5d.jpg" alt="Akcja obraz" class="card-image" />
    <div class="card-content">
      <div id="gora">
    <div >
      <h2 style="margin-bottom: 0;">{{title }}</h2>
      <p style="margin-top: 10px;">{{ date }} - {{ location }}</p>
    </div>
    <div id="miejsca" >
      <span>Liczba wolnych miejsc:</span>
        <p>Lista Podstawowa: {{ mainList }}</p>
        <p>Lista Rezerwowa: {{reserveList }}</p>
      </div>
    </div>
    <hr style="color:#666; margin-top:0%">
      <div class="card-footer">
        
        <p class="card-description">{{ description }}</p>
        <br>
        <button class="card-button">Przejdź do akcji</button>
      </div>
    </div>
  </div>
  