<div id="akcja">
<img src="https://sklep.lambda.pl/userdata/public/gfx/b5ba5b93de162471a3a920ca9f91bb5d.jpg" alt="Akcja obraz">
<div >
<div id="Dane">

</div>
<div id="Opis">
<h2>Opis</h2>
<div id="tekst"> ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id fermentum dui, id dapibus magna.
 Donec accumsan porta vehicula. Nulla dolor leo, dapibus vel tempor nec, mollis lobortis tellus. Cras in dui eros. Fusce a urna ultricies, 
 molestie urna eu, auctor lacus. Integer sed ipsum sit amet dolor sollicitudin elementum sit amet ut lacus. Aenean venenatis quis nunc id e
 ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id fermentum dui, id dapibus magna.
 Donec accumsan porta vehicula. Nulla dolor leo, dapibus vel tempor nec, mollis lobortis tellus. Cras in dui eros. Fusce a urna ultricies, 
 molestie urna eu, auctor lacus. Integer sed ipsum sit amet dolor sollicitudin elementum sit amet ut lacus. Aenean venenatis quis nunc id e
 ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id fermentum dui, id dapibus magna.
 Donec accumsan porta vehicula. Nulla dolor leo, dapibus vel tempor nec, mollis lobortis tellus. Cras in dui eros. Fusce a urna ultricies, 
 molestie urna eu, auctor lacus. Integer sed ipsum sit amet dolor sollicitudin elementum sit amet ut lacus. Aenean venenatis quis nunc id e
 ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id fermentum dui, id dapibus magna.
 Donec accumsan porta vehicula. Nulla dolor leo, dapibus vel tempor nec, mollis lobortis tellus. Cras in dui eros. Fusce a urna ultricies, 
 molestie urna eu, auctor lacus. Integer sed ipsum sit amet dolor sollicitudin elementum sit amet ut lacus. Aenean venenatis quis nunc id e
</div>
</div>
</div>
</div>