
    <div class="row">

      <div class="col-md-6 images">
        <div class="row">
          <div class="col-6 image-box"></div>
          <div class="col-6 image-box"></div>
        </div>
        <div class="row">
          <div class="col-6 image-box"></div>
          <div class="col-6 image-box"></div>
        </div>
      </div>

      <div class="col-md-6 event-details">
        <div class="event-card">
          <h3>Akcja 1</h3>
          <p>24.01.2023 r.</p>
          <p>Kraków</p>
          <p>Ilość wolnych miejsc: 20</p>
          <button class="join-button">Weź Udział!</button>
          <hr>
          <h4>Dostępne godziny</h4>
          <div class="times">
            <button class="time-btn">9:00</button>
            <button class="time-btn">12:00</button>
            <button class="time-btn disabled">15:00</button>
            <button class="time-btn">18:00</button>
          </div>
          <hr>
          <h4>Opis</h4>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id fermentum dui, id dapibus magna...
          </p>
        </div>
      </div>
    </div>
  
  