$color_1: #388dd8;

.action-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

h2 {
    color: $color_1;
    font-size: 3em;
    letter-spacing: 1px;
    margin-left: 4%;
}