.action {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
  
    h3 {
      font-size: 18px;
      color: #333;
    }
  
    p {
      font-size: 14px;
      color: #333;
      margin: 10px 0;
    } 
  
  }
  .ak{
    transition: all .2s ease;
  }
  .ak:hover{
    background-color: #f8f8f8c7;

}
rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  .action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  
    button {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 15px;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
  
  .edit-time, .cancel {
    background-color: #ff4d4d;
  
    &:hover {
      background-color: #e63939;
    }
  }
  
  .action-buttons.animated {
    animation: slideIn 0.3s ease forwards;
    opacity: 0;
  }
  
  @keyframes wyb {
    from {
      
      opacity: 1;
    }
  
    to {
      
      opacity: 0.9;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  